<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="icon" href="/style/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/style/MainFileCss.css">
</head>
<body>

<header th:insert="blocks/header :: header2"></header>

<div class="title dnldk">Book Catalog</div>


<form method="post" action="/main">
    <div class="book-search center">
        <div class="validate-input">

            <input type="text" class="main-input" id="search-input" name="bookFilter" th:value="${bookFilter}">
            <span class="focus-main-input"></span>
        </div>
        <button type="submit" class="green-button search-button" id="search-button">
            <div class="button-text"> Search</div>
        </button>
    </div>
</form>

<div class="book-list-container center" id="book-list">
    <div th:each="book : ${bookList}">
        <div class="book-list-item pannel" th:attr="onclick=|bookRedirect('${book.getId}')|">
            <div class="book-image">
                <div th:if="${book.originalBookFileName() != null}">
                    <img height="224px" width="224px" th:src="@{/img/{bookFileName}(bookFileName = ${book.img})}">
                </div>
            </div>
            <div class="book-title" th:text="${book.getBookName()}"/>
            <div class="book-tags" th:text="${book.getTag()}"/>
            <div class="book-balance" th:text="${book.getPrice() + ' LC'}"/>
        </div>
    </div>
</div>


<script src="/style/script/bookList.js"></script>
</body>
</html>



