<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
    <link rel="icon" href="/style/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/style/MainFileCss.css">
</head>
<body>

<header th:insert="blocks/header :: header2"></header>

<div class="title">Test List</div>
<div class="test-list-container" id="test-list">
    <div th:each="test : ${testList}">
        <div class="pannel" th:attr="onclick=|testRedirect('${test.getId}')|">
            <div class="test-name" th:text="${test.getTestTitle()}"></div>
            <div title="Max reward" class="test-reward" th:text="${test.getQuestions().size() + ' LC'}"></div>
        </div>
    </div>
</div>
<div class="center" style="width: 780px; margin-top: 40px; font-size: 20px">
    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/test/addTest}">Добавить тест</a>
</div>


<script src="/style/script/bookList.js"></script>
</body>
</html>

