<div th:fragment="footer">
    <footer class="footer">
        <div class="menu center">
            <img id="header-logo" src="/style/images/logo.png" class="menu-item-logo" alt="logo">
            <div class="menu-item">Contacts</div>
        </div>
    </footer>
</div>

<div th:fragment="footer2">
    <footer class="footer">
        <div class="footer-section center">
            <div class="contacts">
                <div class="contact">
                    <img src="/style/images/instagram.png" alt="">
                </div>
                <div class="contact">
                    <img src="/style/images/vk.png" alt="">
                </div>
                <div class="contact">
                    <img src="/style/images/telegram.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-section space-between hover center">
            <div class="security-item">Privacy & Security</div>
            <div class="security-item">Terms of Use</div>
            <div class="security-item">Trademarks</div>
            <div class="security-item">Legal</div>
            <div class="security-item">Genuine Tools</div>
        </div>
        <div class="footer-section space-between center">
            <div>Copyright © 2023 Programmer Library Inc.</div>
            <div>Your knowledge is your currency</div>
        </div>
    </footer>
</div>